@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: 'Josefin Sans', sans-serif;
}

.table-container {
  max-width: 100%;
  overflow-x: auto;
}
